.main-content {
    min-height: 230px;
    background: #dbdfe5;
  }
  .sidebar-content {
    min-height: 100px;
    margin-bottom: 30px;
    background: #383c45;
  }
  p1{  text-align: center;
  }
